<html>
    <head>
        <script type="text/javascript" src="{{ STATIC_URL }}countdown/js/jquery.min.js"></script>
        <link href="{{ STATIC_URL }}countdown/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <script src="{{ STATIC_URL }}countdown/bootstrap/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="container" style="width:740px">
            <div class="accordion" id="accordion2">

                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Note from the bride</a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse in">
                        <div class="accordion-inner">
So I started with a poem for Mr Mansingh but after a line or two it sounded more like a poem for Jesus ;) Not that my groom is any less but I am sure he prefers a simpler version :) I keep telling Sujay that his goodness scares me (and there are few who pray everyday that some of it rubs on me too). Really, its so hard to match up! For that matter he is way more superior than me in most of the things ... he is smarter (he can do math), he is a fantastic cook, extremely passionate about cricket and  loves kebabs, I don't stand a chance when these two things are in his sight.Though my Hindi is better his textbook Hindi is way cuter:) (Oops! our man hates the word cute, so we will stick to Macho :) )<br/>
Sujay is just so endearing in his ways! he has actually taken me back to the basics of a relationship, where purity of emotion is paramount and rest, like he puts it "we can cope with".He has been Mr.dependable for me from our first meeting..he saved me from a fall while I made a lousy attempt to impress him by wearing heels :) and till today, he has ensured that I don't get hurt on any count.Its probably because of Sujay's efforts that distance hasn't affected our relationship..may it be speaking to me at wee hours even if it means just for 5 minutes or coming all the way to India to surprise me on my birthday, he has always made me feel extremely loved.<br/>
Sujay I am really looking forward to our life together! planning each and every minute with you is so exciting and fulfilling :) I feel extremely blessed, I am so glad that we have it all sorted, you'll be ironing the clothes ;)
                        </div>
                    </div>
                </div>

                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Note from the groom</a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse">
                        <div class="accordion-inner">
I'm not very good at writing poems (or prose, or things that aren't computer code:)). However, given that it is for Shaina, I will make an extra special effort!<br/>
I still remember right at the beginning when she asked me whether I could speak Hindi: I told her I would on one condition. Before I could go further, she correctly guessed that the condition would be that she wouldn't laugh (and most of the time, she's managed to avoid laughing at my broken Hindi!). But more than that, it struck me how she just knew the right thing to say to me, whether it is some fun idea, or something supportive, or just something cute. And to this day, it's always been like that. Being around her, or sometimes just thinking about her, is enough to cheer me up no matter what.<br/>
She constantly says that I'm really nice to look out for her or similar things, but it's just feels natural for me to do so. All I want is to take care of Shaina and keep her happy. If I can make her even half as as happy as she makes me, then I'll consider my job done :)<br/>
Most of all when people ask me if I'm nervous about the wedding I realise that I'm nervous about many things (e.g. the venues for the event or sorting out the house here or dealing with Shaina's visa), but the one thing that never worries me is the idea of being with Shaina! Being with Shaina is just the perfect combination of exhilaration and comfort, and that's something I wouldn't change for the world!<br/>
I'm really looking forward to sharing my life with Shaina. I'm so incredibly lucky to have found someone as special as her and I know that a life with her will be a life lived to the fullest and most joyous :)<br/>
p.s. She's so kind and thoughtful that she's volunteered to take all of the ironing shifts in the house!
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>

