ul {
    list-style-type: none;
}

body {
    background: #406Af2;
    color: #fff;
    font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
}

.date_item {
    position: relative;
    width: 96px;
    height: 96px;
    float: left;
    background: #d09622;
    margin-right: 5px;
    margin-bottom: 5px;
}

.block {
    margin-right: 5px;
    margin-bottom: 5px;
    background: #d09622;
    float: left;
    height: 96px;
    text-align:center;
    display: table;
}
.block div {
    display: table-cell;
    vertical-align:middle;
}
.block1x1 {
    width: 96px;
    position: relative;
}
.block2x1 {
    width: 197px;
    position: relative;
}
.block3x1 {
    width: 298px;
    position: relative;
}
.block4x1 {
    width: 399px;
    position: relative;
}

.overlay {
    color: #fff;
    font-size: 12px;
    position: absolute;
    left: 0px;
    width: 100%;
    bottom: 0px;
}

.darkbox {
    background: #6d84b4;
}

.container_block {
    width: 1200px;
}
.main_content {
    float: left;
}
.righthand_content {
    float: left;
    background: #fff;
}
.righthand_content .heading {
    background: #6d84b4;
    border-bottom: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 2px;
}

.blank {
    background: transparent;
}

.date_daynum {
    font-family: helvetica, arial, sans-serif;
    position: absolute;
    right: 5px;
    top: 5px;
}

.header {
    font-size: 20pt;
    padding-left: 20px;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
    width: 683px;
}

#countdown_counter, .bigtext {
    font-size: 20px;
}

h4, .date_daynum {
    font-weight: 200;
    font-size: 20pt;
}

h4, .text_colour_light {
    color: #fff;
}

.text_colour_dark {
    color: #000;
}

h4 {
    letter-spacing: 0.01em;
    line-height: 24pt;
    margin: 5px;
}


.date_image_main {
}
.date_image_inset {
    position: absolute;
    left: 5px;
    bottom: 5px;
}

.date_container {
    width: 712px;
    position: relative;
}

.date_container h4 {
    position: absolute;
    left: 0px;
    bottom: -50px;
}

.breaker {
    clear: both;
}
